<style>@media (max-width:400px) {

    #logocontainer
    { 
        margin-right:25px
    }

    #topbar .content
    {
        width:400px
    }
}

html
{
    font-family:"Raleway",sans-serif;
    background-color:teal;
    cursor:default;
}

#topbar
{
    width:100%;
    position:fixed;
    top:0;left:0;
    text-align:center;
    background-color:white;
    box-shadow:0 2px 10px rgba(0,0,0,0.4);
}

#topbar .content
{
    width:320px;
    margin:0 auto;
    padding-bottom:20px;
}

#topbar h1
{
    margin-top:20px;
    margin-bottom:5px;
    color:#8D0E6B;
}
    
#topbar p
{
    margin:0;
}

#topbar p:first-of-type
{
    margin-bottom:20px;
}

#topbar a
{
    margin-top:20px;
    color:#8D0E6B;
    font-size:1.2em;
    text-decoration:none;
}

.colorstrip
{
    height:5px;
    width:100%;
    background-color:#8D0E6B;
}

.mane
{
    max-width:400px;
    text-align:center;
    padding-bottom:10px;
    margin:230px auto 0;
}

section.card
{
    padding:20px;
    border-radius:5px;
    text-align:center;
    background-color:white;
    box-shadow:2px 2px 10px rgba(0,0,0,0.2);
    margin-top:20px;
}

section.card header
{
    font-size:1.3em;
    font-weight:bold;
    margin-bottom:5px;
}

h2
{
    margin-top:60px;
    color:white;
}
    
footer
{
    text-align:center;
    color:white;
    font-size:0.7em;
    margin-top:30px;
    margin-bottom:15px;
}

footer a
{
    color:white;
}

#logocontainer
{
    width:60px;
    vertical-align:middle;
    margin-top:10px;
    display:inline-block;
    position:relative;
    margin-right:5px;
    height:60px;
}

#logocontainer img
{
    position:absolute;
    top:0;
    left:0;
    transition:all 1s;
    width:60px;
}

#logocontainer img:first-child
{
    opacity:1;
}

#logocontainer img:nth-child(2)
{
    opacity:0;
}

#logocontainer:hover img:first-child
{
    opacity:0;
}

#logocontainer:hover img:nth-child(2)
{
    opacity:1;
}

.titlebox
{
    width:250px;
    display:inline-block;
    vertical-align:middle;
}

.titlebox p
{
    transition:all 500ms;
    overflow:hidden;
    max-height:40px;
}

.scrolled .titlebox p
{
    max-height:0;
    margin:0!important;
}</style>
